{% extends "template_sistema.html" %}

{% block title %}
<title>HorseCare - Sensores</title>
{% endblock %}

{% block content %}

<div class="container title-form">
    <h3>Sensores</h3>

    {% if user.is_authenticated and (user.has_role('Adm')) %}
    <button type="button" class="btn btn-primary btn-large" data-bs-toggle="modal" data-bs-target="#form_cadastro">Cadastrar +</button>
    {% endif %}
</div>
<div class="container">
  {% if sensors|length> 0 %}
    <table class="table table-striped table-hover table-bordered table-cells">
        <thead>
            <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Topico</th>
                <th scope="col">Status</th>
                {% if user.is_authenticated and (user.has_role('Adm')) %}
                <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.brand }}</td>
                <td>{{ sensor.model }}</td>
                <td>{{ sensor.topic }}</td>

                {% if sensor.is_active == true %}
                  <td>Ativo</td>
                {% else %}
                  <td>Desativado</td>
                {% endif %}

                {% if user.is_authenticated and (user.has_role('Adm')) %}
                <td>
                  <a href="/edit_sensor?id={{sensor.id}}" class="btn btn-primary">Editar</a>
                  <a href="/del_sensor?id={{sensor.id}}" class="btn btn-danger">Excluir</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
  {% else %}
    <h4>Ainda não há sensores cadastrados!</h4>
  {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="form_cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="form_cadastroLabel">Cadastrar Sensor</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post"  action="http://localhost:8084/add_sensor" class="formulario">
                  
                    <div class="mb-3">
                      <label for="name">Nome </label>
                      <input id="name" type="text" name="name" placeholder="Nome do atuador">
                    </div>

                    <div class="mb-3">
                      <label for="brand">Marca </label>
                      <input id="brand" type="text" name="brand" placeholder="Marca do atuador">
                    </div>

                    <div class="mb-3">
                      <label for="model">Modelo </label>
                      <input id="model" type="text" name="model" placeholder="Modelo do atuador">
                    </div>

                    <div class="mb-3">
                      <label for="unit">Unidade </label>
                      <input id="unit" type="text" name="unit" placeholder="Unidade de medida">
                    </div>
                    
                    <div class="mb-3">
                      <label for="topic">Tópico MQTT </label>
                      <input id="topic" type="text" name="topic" placeholder="Topico do MQTT">
                    </div>

                    <div>
                      <input type="checkbox" id="is_active" name="is_active" checked />
                      <label for="is_active">Ativo?</label>
                    </div>
                    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <input type="submit" value="Registrar sensor" class="btn btn-primary">
            </form>
            </div>
          </div>
        </div>
      </div>


</div>
{% endblock %}