{% extends "template_sistema.html" %}

{% block title %}
<title>HorseCare - Editar Usuário</title>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <form method="POST"  action="http://localhost:8084/update_user">

        <h2>Editar Usuário</h2>
        <input type="text" name="currentUser" id="2" value="{{ username }}" readonly hidden>

        <div class="card">
            <div class="card-body bg-grey">
                <div class="mb-3">
                    <label for="1" class="form-label">Novo Nome</label>
                    <input id="1" type="text" name="newUsername" value="{{username}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="0" class="form-label">Nova Senha</label>
                    <input type="password" name="newPassword" id="0" placeholder="Senha" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Atualizar Usuário</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}